<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boooard.mapper.BoardMapper">
 
    <insert id="insert" parameterType="com.example.boooard.dto.request.ReqInsertDTO">
            INSERT into board VALUES (0, #{board_name},#{board_content})
    </insert>
</mapper>